* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url('../images/Lo1.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: black;
    overflow-x: hidden;
}

.container {
    width: 700px;
    height: 600px;
    margin: 75px auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pres {
    width: 300px;
    height: 600px;
    position: absolute;
    left: 30px;
    top: 75px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.access {

    font-family: "Times New Roman", Times, serif;
    width: 300px;
    height: 600px;
    position: absolute;
    right: 30px;
    top: 75px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 12px;

}

.access-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.access-header {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    font-size: 16px;
}

.access-header img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.logo {
    position: absolute;
    width: 80px;
}

.logo-left {
    left: 40px;
    top: 70px;
}

.logo-right {
    right: 40px;
    top: 70px;
}

.logo-center {
    left: 320px;
    top: 80px;
}

.chat-area {
    width: 90%;
    height: 280px; 
    background: lightgray;
    margin: 75px auto 0px auto;
    padding: 10px;
    overflow-y: auto;
    border-radius: 5px;
    text-align: justify;
    font-size: 16px;
    
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

input {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.send-btn {
    padding: 10px 18px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.send-btn img {
    width: 20px;
    vertical-align: middle;
}

.manual-btn {
    position: absolute;
    top: 150px;
    left: 3px;
    bottom: 90px;
    background: none;
    border: none;
    cursor: pointer;
}

.manual-btn img {
    width: 60px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 200px;
}

.menu-grid p {
    margin: 0;
    padding: 0;
}

#burbujas-container{

    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;

}

.burbujas{

    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 247);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: -1;

}

@keyframes moverArriba {
    
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    25%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100vh);
    }

}
